services:
      aikore-dev:
        image: aikore:dev
        build: .
        container_name: aikore-dev
        runtime: nvidia
        volumes:
          - "${STABLE_DIFFUSION_DATA_DIRECTORY:-./data}:/config:rw"
        ports:
          - "${AIKORE_PORT:-19000}:9000/tcp"
          - "${AIKORE_INSTANCE_PORT_RANGE:-19001-19020}:${AIKORE_INSTANCE_PORT_RANGE:-19001-19020}/tcp"
        environment:
          - NVIDIA_VISIBLE_DEVICES=${NVIDIA_VISIBLE_DEVICES:-all}
          - TZ=${TZ:-America/New_York}
          - PUID=${PUID:-1000}
          - PGID=${PGID:-1000}
          - AIKORE_INSTANCE_PORT_RANGE=${AIKORE_INSTANCE_PORT_RANGE:-19001-19020}
        security_opt:
          - seccomp:unconfined
          - apparmor:unconfined
