body {
    background-color: #111111;
    margin: 0;
    overflow: hidden; /* Prevent scrollbars */
}

#welcome-canvas {
    display: block; /* Remove default inline behavior */
    width: 100vw;
    height: 100vh;
}