# .github/workflows/build-pytorch-wheel.yml
name: "Build and Push PyTorch Wheel"

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'The release tag for the wheel (e.g., torch-v2.9.0)'
        required: true
        type: string

env:
  REGISTRY: ghcr.io

jobs:
  build-pytorch:
    name: Compile and Push PyTorch wheel
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write # Required to push to GHCR

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set lower-case repository name
        run: echo "IMAGE_NAME=$(echo ${{ github.repository }}/wheels | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract PyTorch version from release tag
        id: get_version
        # Extracts 'vX.Y.Z' from 'torch-vX.Y.Z'
        run: echo "PYTORCH_VERSION=$(echo ${{ github.event.inputs.release_tag }} | cut -d '-' -f 2-)" >> $GITHUB_ENV

      - name: Build PyTorch wheel
        id: build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./pytorch.Dockerfile
          push: false
          target: final
          outputs: type=local,dest=./wheel_output
          build-args: |
            PYTORCH_TAG=${{ env.PYTORCH_VERSION }}
            BASE_IMAGE_TAG=12.9.1-cudnn-devel-ubuntu24.04
            TORCH_CUDA_ARCH_LIST=8.9

      - name: List output files
        id: wheel_path
        run: |
          ls -R ./wheel_output
          echo "WHEEL_FILE=$(find ./wheel_output/dist -name 'torch-*.whl' | head -n 1)" >> $GITHUB_OUTPUT

      - name: Build and push wheel container to GHCR
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./wheel-container.Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.event.inputs.release_tag }}
          build-args: |
            WHEEL_PATH=${{ steps.wheel_path.outputs.WHEEL_FILE }}
