# Nom du workflow
name: Docker Build and Push to GHCR

on:
  workflow_dispatch:
    inputs:
      pytorch_release_tag:
        description: 'The GitHub release tag for the pre-compiled PyTorch wheel (e.g., torch-v2.9.0)'
        required: true
        default: 'torch-v2.9.0'
      image_tag:
        description: 'The tag for the final Docker image (e.g., v1.2.3)'
        required: true
        default: 'latest'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ github.event.inputs.image_tag }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GITHUB_REPO=${{ github.repository }}
            PYTORCH_RELEASE_TAG=${{ github.event.inputs.pytorch_release_tag }}